{
  "overrides": [
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "useTabs": false,
        "tabWidth": 2
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "useTabs": true,
        "tabWidth": 4
      }
    }
  ]
}
